placeholder-scada-back/placeholder-scada-back/**/.idea/**/workspace.xml
placeholder-scada-back/placeholder-scada-back/**/.idea/**/tasks.xml
placeholder-scada-back/placeholder-scada-back/**/.idea/shelf/*
placeholder-scada-back/placeholder-scada-back/**/.idea/dictionaries
placeholder-scada-back/placeholder-scada-back/**/.idea/httpRequests/
placeholder-scada-back/placeholder-scada-back/**/.idea/**/dataSources/
placeholder-scada-back/placeholder-scada-back/**/.idea/**/dataSources.ids
placeholder-scada-back/placeholder-scada-back/**/.idea/**/dataSources.xml
placeholder-scada-back/placeholder-scada-back/**/.idea/**/dataSources.local.xml
placeholder-scada-back/placeholder-scada-back/**/.idea/**/sqlDataSources.xml
placeholder-scada-back/placeholder-scada-back/**/.idea/**/dynamic.xml
placeholder-scada-back/placeholder-scada-back/**/.idea/**/*.iml
placeholder-scada-back/placeholder-scada-back/**/.idea/**/contentModel.xml
placeholder-scada-back/placeholder-scada-back/**/.idea/**/modules.xml
placeholder-scada-back/placeholder-scada-back/*.suo
placeholder-scada-back/placeholder-scada-back/*.user
placeholder-scada-back/placeholder-scada-back/.vs/
placeholder-scada-back/placeholder-scada-back/[Bb]in/
placeholder-scada-back/placeholder-scada-back/[Oo]bj/
placeholder-scada-back/placeholder-scada-back/_UpgradeReport_Files/
placeholder-scada-back/placeholder-scada-back/[Pp]ackages/
placeholder-scada-back/placeholder-scada-back/Thumbs.db
placeholder-scada-back/placeholder-scada-back/Desktop.ini
placeholder-scada-back/placeholder-scada-back/.DS_Store

placeholder-scada-front/dist
placeholder-scada-front/tmp
placeholder-scada-front/out-tsc
placeholder-scada-front/bazel-out
placeholder-scada-front/node_modules
placeholder-scada-front/npm-debug.log
placeholder-scada-front/yarn-error.log
placeholder-scada-front/.idea/
placeholder-scada-front/.project
placeholder-scada-front/.classpath
placeholder-scada-front/.c9/
placeholder-scada-front/*.launch
placeholder-scada-front/.settings/
placeholder-scada-front/*.sublime-workspace
placeholder-scada-front/.vscode/*
!placeholder-scada-front/.vscode/settings.json
!placeholder-scada-front/.vscode/tasks.json
!placeholder-scada-front/.vscode/launch.json
!placeholder-scada-front/.vscode/extensions.json
placeholder-scada-front/.history/*
placeholder-scada-front/.angular/cache
placeholder-scada-front/.sass-cache/
placeholder-scada-front/connect.lock
placeholder-scada-front/coverage
placeholder-scada-front/libpeerconnection.log
placeholder-scada-front/testem.log
placeholder-scada-front/typings
placeholder-scada-front/.DS_Store
placeholder-scada-front/Thumbs.db
