.alarm-contaioner {
    height: 100%;
    min-width: 55px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    border: 3px #c5c5c5 solid;
    cursor: pointer;
}
.alarm-contaioner:hover {
    scale: 1.02;
}
.priority-text {
    background-color: #c5c5c5;
    position: absolute;
    width: 104%;
    bottom: -1px;
    left: -1px;
    border-radius: 0 0 7px 7px;
    padding: 2px;
    z-index: 1;
    font-size: 0.8em;
}
.value-container {
    display: flex;
}
.value-text {
    font-size: 1.5em;
}
.icon {
    scale: 0.8;
    margin-top: 2px;
    margin-right: -2px;
}

.active-low {
    color: #bb2020;
}

.active-high-border {
    border-color: #bb2020;
}
.active-high-container {
    background-color: #bb2020;
    color: #fff;
}
.active-critical-container {
    color: #fff;
    animation: flashing-critical-container-alarm 0.5s infinite;
}
@keyframes flashing-critical-container-alarm {
    from { background-color: #942f2f75; }
    50% { background-color: #bb2020; }
    to { background-color: #942f2f75; }
}
.active-critical-priority-text {
    background-color: transparent;
    color: #fff;
}