<div class="header-card-wrapper">
    <div id="header">
        <div class="header-left">
            <h2>Outputs</h2>
            <div *ngIf="selectedOutput == undefined" class="radio-inputs">
                <label class="radio">
                    <input type="radio" name="radio-output" [checked]="selectedType == 0" (click)="selectedType = 0">
                    <span class="name">ANALOG</span>
                </label>
                <label class="radio">
                    <input type="radio" name="radio-output" [checked]="selectedType == 1" (click)="selectedType = 1">
                    <span class="name">DIGITAL</span>
                </label>
            </div>
        </div>
        <button class="solid-button" (click)="toggleAdd()">{{isPreview ? "New" : "Cancel"}}</button>
    </div>
    <div class="card">
        <!-- Items -->
        <div class="items-container" [ngClass]="{'hidden': !isPreview, 'visible': isPreview}">
            <div *ngIf="selectedType == 0"> <app-analog-output-info *ngFor="let item of analogItems" [Item]="item"/> </div>
            <div class="digital-outputs-container" *ngIf="selectedType == 1"> <app-digital-output-info *ngFor="let item of digitalItems" [Item]="item"/> </div>
        </div>
        <!-- Add Edit -->
        <div class="add-edit-container" [ngClass]="{'hidden': isPreview, 'visible': !isPreview}">

            <!-- Basic Info -->
            <h3>Basic info</h3>
            <input placeholder="Name / Description" [(ngModel)]="name"/>
            <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 6px;">
                <app-select [items]="addresses" [selected]="address" (onSelected)="address = $event.toString()"/>
                <input placeholder="Initial Value" type="number" [(ngModel)]="initalValue"/>
            </div>

            <!-- Units form -->
            <h3 *ngIf="selectedType == 0">Units info</h3>
            <div class="analog-meta-data" *ngIf="selectedType == 0">
                <input placeholder="From" type="number" [(ngModel)]="unitsFrom"/>
                <input placeholder="To" type="number" [(ngModel)]="unitsTo"/>
                <input placeholder="Units" [(ngModel)]="unit"/>
            </div>
            
            <!-- Crud Buttons -->
            <br> <br> <hr>
            <div style="width: 100%; display: flex; justify-content: end; gap: 6px;">
                <button *ngIf="selectedOutput != undefined" class="solid-button" style="width: 140px; margin-top: 8px;" (click)="deleteOutput()">Delete input</button>
                <button class="solid-button" style="width: 130px; margin-top: 8px;" (click)="saveOutput()">Save input</button>
            </div>
        </div>
    </div>
</div>
