<div class="header-card-wrapper">
    <div id="header">
        <h2>RTUs</h2>
    </div>
    <div class="card">
        <!-- Add Edit -->
        <div class="add-edit-container" [ngClass]="{'hidden': isPreview, 'visible': !isPreview}">
            <app-select [options]="outputs" label="Output Tag" [selected]="" (onSelected)="setOutput($event)"/>
            <input placeholder="Write Time [ms]" type="number" [(ngModel)]="writeTime"/>
            <button class="solid-button" style="width: 130px; margin-top: 8px; align-self: self-end;" (click)="saveRTU()">Create RTU</button><br><hr>
        </div>
        <div *ngFor="let rtu of rtus">
            <div class="rtu-meta-data-container">
                <p id="address-text">A{{getOutput(rtu).address}}</p>
                <div class="info-container">
                    <h3 class="title-text b">{{getOutput(rtu).description}}</h3>
                    <div>
                        <p id="info-text">Write Time: {{rtu.writeTime}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
