.solid-button {
    width: 96px;
    height: 38px;
    border-radius: 19px;
    margin-bottom: unset;
}
.card {
    position: relative;
}
.header-left {
    display: flex;
    gap: 12px;
}
.items-container {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 8px 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.digital-inputs-container {
    padding-left: 16px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 16px;
}

.add-edit-container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 32px;
}
.analog-meta-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
}
h3 {
    padding: 8px 2px;
}


.hidden {
    animation: hide 0.1s ease-out;
    animation-fill-mode: both;  
}
@keyframes hide {
    from {opacity: 1;}
    to {
        opacity: 0;
        visibility: collapse;
    }
}
.visible {
    animation: show 0.2s ease-in;
    animation-fill-mode: both;  
}
@keyframes show {
    from { opacity: 0; visibility: collapse; }
    50% { opacity: 0; visibility: collapse; }
    to {
        opacity: 1;
        visibility: visible;
    }
}