* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dosis';
    font-weight: 500;
}
.body {
    width: 100%;
    height: 100vh;
    background-color: #e8e8e8;
}
.card {
    background-color: #f8f8f8;
    border-radius: 19px;
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.1);
    height: calc(100vh - 84px);
}

h1 {
    font-size: 3em;
    margin-bottom: 5px;
    font-family: 'Dosis';
    font-weight: bold;
    color: #c0c0c0;
    user-select: none;
    animation: mymove 3s infinite;
}
h2 {
    font-size: 1.75em;
}
@keyframes breathing-title {
    from { color: #c0c0c0; }
    50% { color: #a0a0a0; }
    to { color: #c0c0c0; }
}
@keyframes mymove {
    0% { -webkit-text-stroke: 1px #c0c0c0; }
    30% { -webkit-text-stroke: 1px #c0c0c0; }
    50% { -webkit-text-stroke: 1px #a0a0a0; }
    70% { -webkit-text-stroke: 1px #c0c0c0; }
    100% { -webkit-text-stroke: 1px #c0c0c0; }
}

input {
    display: block;
    outline: none;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 0px 15px;
    border: #c0c0c0 2.25px solid;
    color: #080808;
    background-color: transparent;
    transition: all 0.1s;
    font-weight: bold;
    font-size: 0.95em;
    user-select: none;
}
input::placeholder { color: #b5b5b5; }
input:focus { border: #212121 2.25px solid; }
input:focus::placeholder { color: #212121; }
input:hover:not(:focus) { border: #ababab 2.25px solid; }
input:hover:not(:focus)::placeholder { color: #aeaeae; }

button {
    display: block; 
    border: none;
    letter-spacing: 0.1em;
    transition: all 0.1s;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 0.9em;
    user-select: none;
}
button:active {
    scale: 0.98;
}

.solid-button {
    height: 48px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: #cecece;
    color: #181818;
}
.solid-button:hover {
    background-color: #c0c0c0;
}
.solid-button:focus-visible {
    outline: #212121 2px solid;
}

.outlined-button {
    height: 46px;
    border-radius: 8px;
    translate: 0 1px;
    outline: #c0c0c0 2.25px solid;
    background-color: transparent;
}
.outlined-button:hover {
    background-color: #cecece;
}
.outlined-button:focus-visible {
    outline: #212121 2px solid;
}

.text-button {
    background-color: transparent;
    letter-spacing: 0.09em;
    font-size: 0.89em;
}

.value-text {
    font-size: 2.25em;
    font-weight: normal;
    font-family: 'Economica';
    letter-spacing: -0.1rem;
}

.header-card-wrapper {
    display: grid;
    height: calc(100vh - 32px);
    grid-template-rows: auto 1fr;
}
#header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0 8px;
}


.b {
    border: 1px rgba(188, 143, 143, 0.808) solid;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    margin: 16px 0;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}


/* Selector */
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 19px;
    background-color: #cecece;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 3px;
    width: 175px;
    height: 38px;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 19px;
    height: 32px;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
    background-color: #fff;
    height: 32px;
    font-weight: 800;
}