<div class="input-grid">
    <div class="input-meta-data-container">
        <p id="address-text">A{{input.address}}</p>
        <div class="info-container">
            <h3 class="title-text">{{input.description}}</h3>
            <div>
                <p id="info-text">Unit: {{input.units}}</p>
                <p id="info-text">Range: {{input.lowLimit}} - {{input.highLimit}}</p>
            </div>
        </div>
    </div>

    <div class="input-alarms-container">
        <app-alarm style="height: 56px;" *ngFor="let alarm of input.alarms" [alarm]="alarm"/>
    </div>
</div>