<div class="input-grid">
    <div class="input-meta-data-container">
        <p id="address-text">A{{input.address}}</p>
        <div class="info-container">
            <h3 class="title-text">{{input.description}}</h3>
            <p id="read-time-text">{{input.readTime}}</p>
        </div>
        <div class="value-container">
            <p class="value-text">{{ input.currentValue | number : '1.2-2' }}</p>
            <p id="unit-text">{{input.units}}</p>
        </div>
    </div>

    <div class="input-alarms-container">
        <app-alarm *ngFor="let alarm of input.alarms" [alarm]="alarm" [value]="input.currentValue"/>
    </div>

</div>
