.input-grid {
    display: grid;
    grid-template-columns: 280px auto;
    margin-bottom: 6px;
}
.input-meta-data-container {
    display: flex;
    text-align: center;
    padding: 4px 19px 2px 19px;
    border-radius: 16px;
    background-color: #cecece;
    position: relative;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    border: 2px #cacaca solid;
}
#address-text {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    font-weight: 500;
    font-size: 1.2em;
    color: #aaa;
    background-color: #eee;
}
.info-container {
    margin-left: 22px;
}
#title-text {
    text-align: start;
}
.value-container {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    margin-left: 16px;
}
#unit-text {
    font-size: 1.75em;
    margin-left: 4px;
}
#read-time-text {
    font-size: 1em;
    opacity: 0.75;
    font-weight: 500;
    font-weight: 500;
    color: #666;
}

.input-alarms-container {
    margin-left: 10px;
    display: flex;
    gap: 8px;
    position: relative;
}

.b {
    border: 1px rgba(188, 143, 143, 0.808) solid;
}